extends layout

block body

  .dashboard
    .row
      .col-lg-12
        .jumbotron        
          //Start Connection Button 
          button(onclick='start()') Connect
          .container
            .row
              #box1.col-md-4
                h2#title1 Current Color
                span#colorSpan
                br
                span#colorTimeSpan
              #box2.col-md-4
                h2#title2 Current Score
                span#scoreSpan
                br
                span#scoreTimeSpan
              #box3.col-md-4
                h2#title3 Top Velocity
                span#velocitySpan
                br
                span#velocityTimeSpan
    #footer
      h3 A hardware experiment by Namel Labs.