extends layout

block body

  #welcome.jumbotron
    h1 Welcome to the RonRon Dashboard!
    h2 Your token is: #{token}
    p.lead.
      <br/>
      <br/>
      Please login or register.
    p.bigbutton
      a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register